<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="heading">
    <style>
      #photo{
        background: url("https://source.unsplash.com/random/?book");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 650px;
      }
      #photo a{
        background-color: #1e7e34;
        color: white;
        text-decoration: none;
      }
    </style>
    <div id="photo" class="jumbotron jumbotron-fluid text-center text-white d-flex justify-content-center align-items-center">
      <div class="container">
        <h1 class="display-3">AmazingBook Store</h1>
        <p class="lead my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a href="#" class="rounded-pill px-4 py-2">Search Books</a>
      </div>
    </div>
  </div>
</body>
</html>